{{> header}}
<main>
    <h1>Suas Postagens</h1>
    <div class="container">
        {{#if (eq PostUser null)}}
            <p class="no-posts">Você não tem nenhuma postagem.</p>
        {{else}}
            {{#each PostUser}}
                {{#each this.Posts}}
                    <div class="post">
                        <div class="post-title">
                            <a href="/view-post/{{../_id}}/{{this._id}}">{{this.title}}</a>
                        </div>
                        <div class="post-info">
                            <div class="post-details">
                                {{#if (and this.comments.[0].response this.comments)}}
                                    <span class="comment-count">Comentários: {{length this.comments}}</span> <span class="separator">|</span>
                                    <span class="response-count">Respostas: {{totalResponses this.comments}}</span>
                                {{else}}
                                    <span class="no-comments">Sem comentários</span>
                                {{/if}}
                            </div>
                            <div class="post-date">{{formatDate this.date}}</div>
                        </div>
                        <div class="post-actions">
                            <button class="delete-btn" id="delete">
                                <span class="material-icons-outlined">delete</span>
                            </button>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{/if}}
    </div>
</main>
