{{>header}}
<main>
    <nav class="nav__main">
        <ul>
            <li>
                <a href="#" id="posts">Postagens</a>
            </li>
            <li>
                <a href="#" id="profile">Perfil</a>
            </li>
            <li>
                <a href="#">Comentários</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="div__profile">
            <strong>{{username}}</strong>
            <p>{{{biografy}}}</p>
        </div> 
        {{#each PostUser}}
            {{#each this.Posts}}
                <div class="div__post">
                    <div class="div__title">
                        <strong>
                            <a href="/view-post/{{../_id}}/{{this._id}}">{{this.title}}</a>
                        </strong>
                    </div>
                     <div class="div__likes__comments">
                         {{#if (and this.comments.[0].response this.comments)}}
                                <span>Comentários: {{length this.comments}}</span> - 
                                <span>Respostas: {{totalResponses this.comments}}</span> -
                            {{else}}
                                 <span>Comentários: 0</span> - 
                                <span>Respostas: 0 </span> -
                        {{/if}}
                         <span style="font-size:13px">
                            {{formatDate this.date}}
                         </span>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</main>